<div class="app-body">
  <main class="main login_div d-flex align-items-center">
      <div class="container">
          <div class="row">
              <div class="col-md-6 mx-auto">
                  <div class="card mx-4">
                      <div class="card-body p-4">
                          <div class="text-center">
                              <img src="./assets/img/logo.jpg" width="150px" height="150px;" style="object-fit: contain;"/>
                          </div>
                          <form [formGroup]="complexForm">
                              <h1 class="text-center" style="color: #acd05c;" >Reset Password</h1>

                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="icon-lock"></i></span>
                                  </div>
                                  <input type="password" class="form-control" [(ngModel)]="reqData.password" [formControl]="complexForm.controls['password']" placeholder="Password" autocomplete="new-password" required>
                              </div>
                              <!-- <p style="color: #E80358"  *ngIf="!complexForm.controls['password'].valid  && ( complexForm.controls['password'].touched)" >Please provide valid Password </p> -->
                              <div [hidden]="complexForm.controls['password'].valid || complexForm.controls['password'].untouched">
                            <div style="color: #E80358"
                                [hidden]="!complexForm.controls['password'].hasError('minlength')">
                                Password should be minimum 6 characters.
                            </div>
                            <div style="color: #E80358"
                                [hidden]="!complexForm.controls['password'].hasError('required')">
                                Password is required.
                            </div>

                        </div>

                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="icon-lock"></i></span>
                                  </div>
                                  <input type="password" class="form-control" [(ngModel)]="reqData.confirmPassword" [formControl]="complexForm.controls['confirmPassword']" placeholder="Confirm Password" autocomplete="new-password" required>
                              </div>
                              <!-- <p style="color: #E80358"  *ngIf="!complexForm.controls['confirmPassword'].valid  && ( complexForm.controls['confirmPassword'].touched)" >Please provide valid Password </p> -->
                              <div [hidden]="complexForm.controls['confirmPassword'].valid || complexForm.controls['confirmPassword'].untouched">

                            <div style="color: #E80358"
                                [hidden]="!complexForm.controls['confirmPassword'].hasError('required')">
                                Confirm Password is required.
                            </div>

                        </div>
                              <p style="color: #E80358"  *ngIf="!rpf.confirmPassword.errors && complexForm.hasError('notSame')">Password did not match</p>

                              <button type="button" class="btn btn_theme" [disabled]="!complexForm.valid" (click)="resetPass()">Submit</button>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </main>
</div>

