<div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-warning common-card">
        <div class="card-body pb-0">
          
          <button type="button" class="btn btn-transparent p-0 float-right"  >
            <i class="icon-user"></i>
          </button>
          <div style="margin-bottom: 10px;">Total Home Inspectors</div>
          <div class="text-value">435</div>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-primary   common-card">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right" >
            <i class="icon-fire"></i>
          </button>
          <div style="margin-bottom: 10px;">Free member</div>
          <div class="text-value">200</div>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-4">
      <div class="card text-white bg-danger common-card">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right"  >
            <i class="icon-rocket"></i>
          </button>
          <div style="margin-bottom: 10px;">Paid member</div>
          <div class="text-value">135</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->