<div class="row">
    <div class="col-lg-4">
      <h2>Contact Info Management</h2>
    </div>
    <!-- <div class="col-lg-8 text-right">
          <button class="btn btn-primary ntu" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;&nbsp; Add</button>
      </div> -->
  </div>
  <section class="first-header d-flex align-items-center justify-content-between">
    <div class="filter">
      <!-- <p>Filter</p> -->
      <!-- <mat-form-field>
        <input class="for-ser"
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Search By Name"
        />
      </mat-form-field> -->
    </div>
    <div>

    </div>
  </section>
  <div class="table-responsive">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="sortData($event)"
    matSortActive="name"
    matSortDirection="asc"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>


    <!-- page_email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>
    <!-- address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>



    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Action</th>
      <td class="mat-cell act_td" mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

          <a
            href="javascript:void(0)" (click)="openEditModal(element)"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>

        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </div>
  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 30, 50]"
    (page)="onPageFired($event)"
  >
  </mat-paginator>



  <!-- The Modal -->
  <div class="modal" id="menuEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Contact Info</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="editMenuForm">



            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="editData.email" [formControl]="editMenuForm.controls['email']" placeholder="Enter the email">
              <p
              style="color: #e80358"
              *ngIf="
                !editMenuForm.controls['email'].valid &&
                editMenuForm.controls['email'].touched
              "
            >
              This field is required.
            </p>
            </div>

            <div class="form-group">
              <input type="text" class="form-control"  [(ngModel)]="editData.phone" [formControl]="editMenuForm.controls['phone']" placeholder="Enter Phone Number" />
              <p
              style="color: #e80358"
              *ngIf="
                !editMenuForm.controls['phone'].valid &&
                editMenuForm.controls['phone'].touched
              "
            >
              This field is required.
            </p>
            </div>

            <div class="form-group">
              <input type="text" class="form-control"  [(ngModel)]="editData.address" [formControl]="editMenuForm.controls['address']" placeholder="Enter Address" />
              <p
              style="color: #e80358"
              *ngIf="
                !editMenuForm.controls['address'].valid &&
                editMenuForm.controls['address'].touched
              "
            >
              This field is required.
            </p>
            </div>


          </form>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-info" data-dismiss="modal" [disabled]="!editMenuForm.valid"
          (click)="editCMS()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
