<div class="row">
    <div class="col-lg-4">
      <h2>Contractors Details</h2>
    </div>
  </div>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="contractors-details">
            <div class="profile-img">
                <img src="../../../assets/img/pro.jpg" alt="">
            </div>
            <div class="profile-details">
                <button type="button" class="btn btn-lg btn-primary Inactive">Inactive</button>
                <h1>New contrators</h1>
                <p><span>Email: -</span> newcontractor@yopmail.com</p>
                <p><span>Mobile: -</span> 7892852311</p>
                <p><span>Pin: -</span> 85001</p>
                <p><span>Service: -</span> Painting, Roofing, Home Security,  System, Electrician</p>
                <div class="d-block sub-details">
                <h2>Subscription Details<br></h2>
                    </div>
                <div class="d-block sub-details sub-des">
                    
                    <h3>Bronze Plan<br><small>Last advanced subscription expired on 14 july 2021</small></h3>
                    <p><strong>
                        Subscription Type - Paid
                    </strong></p>
                    <p>Number of service - 05, Number of Request - 100, Number of Days - 365</p>
                </div>
            </div>
        </div>
    </div>
</div>