<div class="app-body">
  <main class="main login_div d-flex align-items-center">
      <div class="container">
          <div class="row">
              <div class="col-md-6 mx-auto">
                  <div class="card mx-4">
                      <div class="card-body p-4">
                          <div class="text-center">
                              <img src="./assets/img/logo.png" width="150px" height="150px;" style="object-fit: contain;"/>
                          </div>
                          <form [formGroup]="complexForm">
                              <h1 class="text-center"  >Forgot Password</h1>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">@</span>
                                  </div>
                                  <input type="text" class="form-control" [(ngModel)]="reqData.email" [formControl]="complexForm.controls['email']" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" autocomplete="email" required>
                              </div>
                              <!-- <p style="color: #E80358"  *ngIf="!complexForm.controls['email'].valid  && ( complexForm.controls['email'].touched)" >Please provide valid Email ID</p> -->
                              <div [hidden]="complexForm.controls['email'].valid || complexForm.controls['email'].untouched">
                                  <div style="color: #E80358"
                                      [hidden]="!complexForm.controls['email'].hasError('pattern')">
                                      Please Enter a valid Email.
                                  </div>
                                  <div style="color: #E80358"
                                      [hidden]="!complexForm.controls['email'].hasError('required')">
                                      Email is required.
                                  </div>
                              </div>
                              <div>
                              <button type="button" class="btn btn_theme" [disabled]="!complexForm.valid" (click)="forgot()">Submit</button>
                              <a routerLink="/login" class="fgt_pdw">Back to login</a>
                            </div>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </main>
</div>

